@model IEnumerable<NKingime.Entity.User>
@{
    ViewBag.Title = "用户列表";
}
<table data-toggle="table" data-striped="true" data-pagination="true"
       data-page-number="1" data-page-size="10" data-page-list="[10, 25, 50, 100]"
       data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-pagination-switch="true" data-detail-view="true">
    <thead>
        <tr>
            <th>用户名</th>
            <th>昵称</th>
            <th data-align="center">性别</th>
            <th>手机号</th>
            <th>注册日期</th>
            <th data-align="center">是否启用</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Nickname</td>
                <td>@user.Gender</td>
                <td>@user.Mobile</td>
                <td>@user.RegisterDate</td>
                <td data-formatter="enabledFormatter">@user.Enabled</td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript">
        function enabledFormatter(value, row, index) {
            alert(value);
        }
    </script>
}